*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  #navbar {
    float: right;
    color: #f2f2f2;
    text-align: right;

    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: rgb(220, 7, 7);
    padding: 14px 16px;
    font-size: 17px;
  }

  #navbar a{
    font-size: 2.2rem;
    padding: 2rem;
    text-decoration: none;
    color: white;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1 {
  font-size: 6rem;
  color: white;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: red;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
    width: 100%;
    height: 100vh;
    padding: 10rem 2rem;
    justify-content: center;
    background-color: #45567d;
}

.project-image{
    width: 295px;
    height: 35vh;
}

@media (max-width: 1000px){
    #projects{
        grid-template-columns: repeat(2, 223px);
        gap: 30px;
    }

}

@media (max-width: 500px){
    #projects{
        grid-template-columns: repeat(1, 223px);
    }

}


#contact{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 10rem 2rem;
    background-color: #303841;
    color: white;
}

.contact-link{
  color: white;
}

